@font-face {
	font-family: OpenSansLight;
	src: url('../fonts/OpenSans-Light.ttf');
}

html, body {
  height: 100%;
	width: 100%;
	margin: 0;
}

.app {
  height: 100%;
  padding: 0.5%;
  box-sizing: border-box;
}

.appContainer {
  height: 100%;
}

.mainContainer {
	display: flex;
	flex-direction: column;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(47, 60, 71, 0.9);
  box-shadow: 0 0 10px rgba(47, 60, 71, 0.5);
}

.mainBlock {
	flex: 10;
	display: flex;
	flex-direction: row;
}
